.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 10vh;

  .selection,
  .datepicker,
  .timepicker,
  .button {
    margin-left: 20px;
  }
  .selection {
    min-width: 200px;
  }

  .datepicker {
    min-width: 150px;
  }
}

.slots_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;

  > button{
    justify-self: center;
    margin: 10px;
  }

}